body {
    font-family: 'TH Sarabun', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
}

header {
    background-color: #004080;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo {
    height: 80px;
    display: block;
    margin: 0 auto 10px;
}

main {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.search-section input {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-section button {
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-section button:hover {
    background-color: #0066cc;
}

.result-section {
    margin-top: 20px;
    font-size: 18px;
}

.result-section p {
  font-size: 18px;
  font-weight: bold;
}
